.parent {
    display: flex;
    margin-top: 0px;
    margin-left: 400px;
}
.parent_index2 {
    display: flex;
    margin-top: 0px;
    margin-left: 550px;
}
.index3_style {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.bg-image {
    background-image: url("./index.png");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
  }
  .bg2-image {
    background-image: url("./index1.png");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%; 
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
  }
.child {
    width: 150px;
    height: 200px;
    padding-left: 10px;
    margin-right: 55px;
    border: 1px solid #E80000;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 10px 10px lightgrey;
}
.p_index_body_style2{
    color:red;

}
.a_index_body_style {
    text-decoration: none;
    color:#F00000;
    
}
.i_index2_style {
    font-size:30px;
    color:#F00000;
    margin-left: 240px;
    margin-top: 70px;
}
.child_index2 {
    width:280px; 
    height:240px;
    padding-left: 14px;
    margin-right: 55px;
    border: 1px solid #E80000;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 10px 10px lightgrey;
}
.p_second_index_style  {
    margin-left: 5px;
    font-weight: bold;
    font-size:30px;
    display: inline-block;
    margin-top :175px;  
    font-family: 'Poiret One';
    color:grey;
}
.p_index_body_style{
    color:#F00000;
    font-family:'Poiret One';
    font-size: 24px;
    margin-top:10px;
}
.a_index_style {
    font-family:'Poiret One';
    font-size: 25px;
    margin-left: 5px;
    color: grey;
    text-decoration: none;
}
.i_index_plus_style {
    font-size:35px;
    color:#F00000;
    margin-left: 300px;
    
}
.h1_index_style {
    font-size:38px;
    text-align: center;
    margin-left: 400px;
    display: inline-block;
   
}
.p_index_style {
    color:black;
    margin-left: 10px;
    font-weight: lighter;
    font-size:34px;
    display: inline-block;
    font-family: 'Poiret One';
}
.input_style {
    border:1px solid #F00000;
    height:20px;
}
.form_style {
    color:#F00000;
    border: 1px solid #F00000;
    display: inline-block;
    width:350px;
    height: 180px;
    text-align:center;
    margin-top: 200px;
    margin-left: 480px;
    padding-bottom: 10px;
    background-color: white;
    z-index: 1;
    position: relative;
    border-radius: 7px;
   }
   
   .form_index4_style {
    color:#F00000;
    border: 1px solid #F00000;
    display: inline-block;
    width:350px;
    height: 150px;
    text-align:center;
    margin-top: 300px;
    margin-left: 500px;
    padding-bottom: 30px;
    background-color: white;
    z-index: 1;
    position: relative;
    border-radius: 7px;
   }

   .index4_input_style {
    border:1px solid #F00000;
    height:20px;
   }
.button_style {
    background-color: #F00000;
    color:white;
    border-radius: 13px;
    width: 70px;
    height: 30px;
    font-size: large;
    border: 1px solid #F00000;
    padding-bottom: 5px;
}
.p_style {
    color:grey;
    font-size: x-large;
    font-weight: 400;
    margin-top: 34px;
    margin-left: 10px;
}
.a_index2_style {
    color:#F00000;
    text-decoration: none;
    font-size: 300;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 10px;
}
.i_index2_top_style {
    font-size:34px;
    color:#F00000;
    margin-left:640px;
    margin-bottom: 5px;
    margin-top:4px;
    
}
.p_index2_style {
    color:#F00000;
    font-size: x-large;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 10px;
}
.p_index2_style2 {
    color:red;
    font-size: x-large;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 10px;
}
.main {
   display: flex;
}

.image {
    background-image: url("./index.png");
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    margin-left:200px;
    margin-top: 110px;
   
}
@media screen and (min-width:359px) and (max-width:641px) { 
    .h1_index_style {
        font-size:15px;
        margin-left: 7px;
        display: inline-block;
    }
    .p_index_body_style{
       font-size: 15px;
        margin-top:10px;
    }
    .p_index_body_style2{
        display: none;
    
    }
    .p_value{
        display: none;
    }
    .button_style {
       border-radius: 8px;
        width: 50px;
        height: 20px;
        font-size: medium;
        padding-bottom: 2px;
    }
    .p_second_index_style  {
        display: none;
       
    }
    hr{
        display: none;
    }
    div1_checkbox {
        display: none;
        initial-value: none;
    }
    
    .a_index_style {
       font-size: 15px;
        margin-left: 10px;
    }
    .form_index4_style {
        width:270px;
        height: 150px;
        text-align:center;
        margin-top: 220px;
        margin-left: 50px;
        padding-bottom: 10px;
         z-index: 1;
        position: relative;
        border-radius: 7px;
       }
      
    .p_style {
       font-size:large;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 4px;
    }
    .p_index_style {
        margin-left: 4px;
        font-size:15px;
        display: inline-block;
     }
     .i_index2_top_style {
        font-size:30px;
        margin-left:100px;
        margin-bottom: 5px;
        margin-top:4px;
        
    }
     .i_index_plus_style {
        font-size:15px;
        margin-left: 20px;
        display: inline-block;
    }
    .i_index2_style {
        font-size:20px;
        color:#F00000;
        margin-left: 170px;
        margin-top: 70px;
    }
   .main{
       margin-top:20px;
       margin-left:5px;
   }
    .parent {
        flex-direction: column;
        margin-left: 15px;
        display: inline-block;
        margin-top:0px;
       }
       .child {
        width: 80px;
        height: 30px;
        padding-left: 10px;
        margin-right: 50px;
        padding-bottom: 20px;
        margin-bottom:10px;
        box-shadow: 5px 5px lightgrey;
    }
    body{
        display: inline-block;
        margin:0px;
    }
    .parent_index2 {
        margin-left: 40px;
    }
    .form_style {
        width:220px;
        height: 130px;
        text-align:center;
        margin-top: 200px;
        margin-left: 80px;
        padding-bottom: 30px;
        background-color: white;
        z-index: 1;
        position: relative;
        border-radius: 7px;
       }
       .bg-image {
        background-position:left;
        background-repeat: no-repeat;
        position:absolute;
        width:100%;
        height:100%;

      }
      
      span {
          margin-left:0px ;
      }
      h1 span{
        background:white;
        text-align: center; 
        margin-top:15px;
        margin-left: 35px;
        padding-left: 10px;
        padding:0 0px;
        }
      h1 {
        margin-left:15px;
        border-bottom: 0px solid #000; 
        line-height: 0em;
        margin: 0px 0 0px; 
        margin-top: 10px;
        font-size: 22px;
        display:inline-block;
        } 
        .child_index2 {
            width:230px; 
            height:240px;
            padding-left: 2px;
            margin-right: 50px;
           border-radius: 10px;
            padding-top: 8px;
            padding-bottom: 20px;
            text-align: center;
            }
            p {
                font-size: medium;
            }
}

